<?xml version="1.0"?>
<xul:page
	xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
	xmlns:xi="http://www.w3.org/2001/XInclude">
	<!-- Main commands -->
	<xul:commandset>
		<xul:command id="cmd_navigate_contacts" oncommand="alert('cmd_navigate_contacts')"/>
		<xul:command id="cmd_navigate_message" oncommand="alert('cmd_navigate_message')"/>
		<xul:command id="cmd_navigate_messages" oncommand="alert('cmd_navigate_messages')"/>
		<xul:command id="cmd_navigate_settings" oncommand="alert('cmd_navigate_settings')"/>
	</xul:commandset>
	<!-- Main broadcasters -->
	<xul:broadcasterset>
		<xul:broadcaster id="brd_message_selected" disabled="true" />
	</xul:broadcasterset>
	<!--  -->
	<!-- Toolbar -->
	<xul:toolbar>
		<xul:toolbarbutton label="Settings" command="cmd_navigate_settings"/>
		<xul:toolbarbutton label="Contacts" command="cmd_navigate_contacts"/>
	</xul:toolbar>
	<!--  -->
	<xul:hbox flex="1" width="100%">
		<xul:vbox width="200">
			<xul:toolbar>
				<xul:toolbarbutton label="Compose Mail" command="cmd_navigate_message"/>
			</xul:toolbar>
			<xul:tree flex="1">
				<xul:treecols>
					<xul:treecol label="Folders" width="180" primary="true"/>
				</xul:treecols>
				<xul:treebody>
					<xul:treechildren id="folders-system">
						<xul:treeitem>
							<xul:treerow>
								<xul:treecell label="Inbox" />
							</xul:treerow>
						</xul:treeitem>
						<xul:treeitem>
							<xul:treerow>
								<xul:treecell label="Starred" />
							</xul:treerow>
						</xul:treeitem>
						<xul:treeitem>
							<xul:treerow>
								<xul:treecell label="All Mail" />
							</xul:treerow>
						</xul:treeitem>
						<xul:treeitem>
							<xul:treerow>
								<xul:treecell label="Sent Mail" />
							</xul:treerow>
						</xul:treeitem>
						<xul:treeitem>
							<xul:treerow>
								<xul:treecell label="Drafts" />
							</xul:treerow>
						</xul:treeitem>
						<xul:treeitem>
							<xul:treerow>
								<xul:treecell label="Spam" />
							</xul:treerow>
						</xul:treeitem>
					</xul:treechildren>
					<xul:treechildren>
						<xul:treeitem>
							<xul:treerow>
								<xul:treecell label="My Folders" />
							</xul:treerow>
							<xul:treechildren id="folders-custom" />
						</xul:treeitem>
					</xul:treechildren>
				</xul:treebody>
			</xul:tree>
		</xul:vbox>
		<xul:splitter />
		<xul:deck flex="1">
			<xul:vbox flex="1">
				<xul:toolbar>
					<xul:toolbarbutton label="Archieve" observes="brd_message_selected"/>
					<xul:toolbarbutton label="Report spam" observes="brd_message_selected" />
					<xul:toolbarbutton label="Delete" observes="brd_message_selected" />
					<xul:toolbarbutton label="Mark as read" observes="brd_message_selected" />
					<xul:toolbarseparator />
					<xul:toolbarbutton label="Move to" type="menu">
						<xul:menupopup id="pop_moveto">
							<xul:textbox type="search" />
							<xul:menuseparator />
							<xul:menuitem label="Manage labels" />
						</xul:menupopup>
					</xul:toolbarbutton>
					<xul:toolbarbutton label="Labels" type="menu">
						<xul:menupopup id="pop_labels">
							<xul:textbox type="search" />
							<xul:menuseparator />
							<xul:menuitem label="Manage labels" />
						</xul:menupopup>
					</xul:toolbarbutton>
					<xul:toolbarseparator />
					<xul:toolbarbutton label="More actions" type="menu">
						<xul:menupopup>
							<xul:menuitem label="Mark as unread" observes="brd_message_selected" />
							<xul:menuitem label="Add to tasks" observes="brd_message_selected" />
							<xul:menuitem label="Add star" observes="brd_message_selected" />
							<xul:menuitem label="Remove star" observes="brd_message_selected" />
							<xul:menuitem label="Filter messages like this" observes="brd_message_selected" />
						</xul:menupopup>
					</xul:toolbarbutton>
				</xul:toolbar>
				<xul:listbox flex="1" type="checkbox" onselect="ample.query('#brd_message_selected').attr('disabled', this.selectedItems.length ? 'false' : 'true');">
					<xul:listhead>
						<xul:listheader minwidth="100" width="200" label="From"/>
						<xul:listheader minwidth="300" width="300" label="Subject"/>
						<xul:listheader minwidth="50" width="100" label="Labels"/>
						<xul:listheader minwidth="50" width="100" label="Attachements"/>
						<xul:listheader minwidth="50" width="100" label="Date"/>
					</xul:listhead>
					<xul:listbody id="messages"/>
				</xul:listbox>
			</xul:vbox>
			<xi:include href="modules/message.xml" />
			<xi:include href="modules/contacts.xml" />
			<xi:include href="modules/settings.xml" />
		</xul:deck>
	</xul:hbox>
</xul:page>