<?xml version="1.0"?>
<xul:dialog id="settings" hidden="true"
	title="Settings"
	xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
	xmlns:xi="http://www.w3.org/2001/XInclude">
	<xul:tabbox flex="1">
		<xul:tabs>
			<xul:tab label="General" />
			<xul:tab label="Labels" />
			<xul:tab label="Accounts" />
			<xul:tab label="Filters" />
		</xul:tabs>
		<xul:tabpanels flex="1">
			<xul:tabpanel>
General
			</xul:tabpanel>
			<xul:tabpanel>
Labels
			</xul:tabpanel>
			<xul:tabpanel>
Accounts
			</xul:tabpanel>
			<xul:tabpanel>
Filters
			</xul:tabpanel>
		</xul:tabpanels>
	</xul:tabbox>
</xul:dialog>