datalist {
	display: none;
}

input,
textarea,
select {
	border: solid 1px silver;
	padding: 1px 0px;
	margin:	0;
	width: 200px;
	display: inline-block;
	height: 16px;
	outline-color: white;
}

textarea,
select[multiple] {
	height: 100px;
}

select[multiple] {
	overflow: auto;
	overflow-x: hidden;
}

select[multiple]::field {
	display: none;
}

input[type=hidden] {
	display: none;
}

input[type=file],
input[type=checkbox],
input[type=radio] {
	border: none;
	width: 18px;
}

input[type=button],
input[type=image],
input[type=reset],
input[type=submit] {
	width:	60px;
}

input[type=range] {
	width:	200px;
}

input[type=datetime],
input[type=datetime-local] {
	width:	140px;
}

input[type=date] {
	width:	90px;
}

input[type=time] {
	width:	70px;
}

input[type=month] {
	width:	40px;
}

input[type=week] {
	width:	40px;
}

input[type=number] {
	width: 60px;
}

/* pseudo-states */
input:focus,
textarea:focus,
select:focus {
	outline: solid 1px blue;
}

/* pseudo-elements */
input::value,
textarea::value,
select::value {
	border: none;
	outline:none;
	background-color: transparent;
	color: inherit;
	padding: 0;
	margin:	0;
	vertical-align:top;
	width: 100%;
}

input[type=range]::value {
	display: none;
}

input[type=file]::field {
	overflow: hidden;
}

input[type=file]::value {
	opacity: 0;
	width: 16px;
	height: 1em;
}

input::placeholder {
	color: silver;
	font-style: italic;
}

input[type=radio]::button,
input[type=checkbox]::button,
input[type=date]::button,
input[type=time]::button,
input[type=datetime]::button,
input[type=datetime-local]::button,
input[type=week]::button,
input[type=month]::button,
input[type=number]::button,
input[type=color]::button,
input[type=range]::button,
input[type=file]::button,
input[type=search]::button,
select::button {
	position:absolute;
	background-color: red;
	width: 16px;
	height: 16px;
	margin: 0 1px;
}

input[type=date]::field,
input[type=time]::field,
input[type=datetime]::field,
input[type=datetime-local]::field,
input[type=number]::field,
input[type=color]::field,
input[type=search]::field,
select::field {
	padding-right:18px;
}

/* */
input[type=range]::before,
input[type=range]::after {
	vertical-align:top;
	width:2px;
	height: 16px;
}

input::before {
	background-color: green;
}

input::after {
	background-color: blue;
}

/* */
select::value {
	cursor: default;
}

input::popup,
select::popup {
	border: solid 1px silver;
	background-color: pink;
	width: inherit;
}

optgroup::gateway {
	padding-left: 20px;
}

option,
optgroup::value {
	background-color: lightblue;
}

option:hover,
optgroup::value:hover {
	background-color: white;
	color: black;
}