datalist {
	display: none;
}

input {
	display: inline-block;
	border: solid 1px silver;
	background-color: silver;
}

input[type=checkbox],
input[type=radio] {
	border: none;
}

input[type=hidden] {
	display: none;
}

input::value {
	border: none;
	outline:none;
	background-color: transparent;
}
