/* */
datalist {
	display: none;
}

input,
textarea,
select {
	border: solid 1px silver;
	padding: 1px 0px;
	margin:	1px;
	width: 200px;
	display: inline-block;
	border-radius: 2px;
}

input {
	height: 16px;
}

textarea,
select::popup {
	height: 100px;
}

select::popup {
	overflow: auto;
	overflow-x: hidden;
}

input[type=hidden] {
	display: none;
}

input[type=file],
input[type=checkbox],
input[type=radio] {
	border-color: transparent;
	width: 18px;
}

input[type=checkbox]::value,
input[type=radio]::value {
	opacity: 0;
}

input[type=button],
input[type=image],
input[type=reset],
input[type=submit] {
	width:	60px;
}

input[type=range] {
	width:	200px;
}

input[type=datetime],
input[type=datetime-local] {
	width:	130px;
}

input[type=date] {
	width:	90px;
}

input[type=color] {
	width: 70px;
}

input[type=time] {
	width:	54px;
}

input[type=month] {
	width:	70px;
}

input[type=week] {
	width:	80px;
}

input[type=number] {
	width: 60px;
}

/* pseudo-states */
input:focus,
textarea:focus,
select:focus {
	background-color: lightyellow;
	margin: 0;
	border-color: lightblue;
	border-width: 2px;
}

/* pseudo-elements */
input::value,
textarea::value,
select::value {
	border: none;
	outline:none;
	background-color: transparent;
	color: inherit;
	padding: 0;
	margin:	0;
	vertical-align:top;
	width: 100%;
}

input[type=range]::value {
	display: none;
}

input[type=file]::field {
	overflow: hidden;
}

input[type=file]::value {
	opacity: 0;
	width: 16px;
	height: 1em;
}

input::placeholder {
	color: silver;
	font-style: italic;
}

input[type=radio]::button,
input[type=checkbox]::button,
input[type=date]::button,
input[type=time]::button,
input[type=datetime]::button,
input[type=datetime-local]::button,
input[type=week]::button,
input[type=month]::button,
input[type=number]::button,
input[type=color]::button,
input[type=range]::button,
input[type=file]::button,
input[type=search]::button,
select::button {
	position:absolute;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
	margin: 0 1px;
}

input[type=search]::button {
	background-image: url(media/search.png);
}

select::button,
input[type=file]::button,
input[type=date]::button,
input[type=datetime]::button,
input[type=datetime-local]::button,
input[type=week]::button,
input[type=month]::button,
input[type=color]::button {
	background-image: url(media/select.gif);
}

input[type=range]::button {
	background-image: url(media/select.gif);
	margin-left: -8px;
}

select:hover select::button,
input:hover input[type=file]::button,
input:hover input[type=date]::button,
input:hover input[type=datetime]::button,
input:hover input[type=datetime-local]::button,
input:hover input[type=week]::button,
input:hover input[type=month]::button,
input:hover input[type=color]::button {
	background-position: 0px -15px;
}

select:active select::button,
input:active input[type=file]::button,
input:active input[type=date]::button,
input:active input[type=datetime]::button,
input:active input[type=datetime-local]::button,
input:active input[type=month]::button,
input:active input[type=week]::button,
input:active input[type=color]::button {
	background-position: 0px -30px;
}

select:disabled select::button,
input:disabled input[type=file]::button,
input:disabled input[type=date]::button,
input:disabled input[type=datetime]::button,
input:disabled input[type=datetime-local]::button,
input:disabled input[type=month]::button,
input:disabled input[type=week]::button,
input:disabled input[type=color]::button {
	background-position: 0px -45px;
}

input[type=checkbox]::button,
input[type=radio]::button {
	background-image: url(media/controls.gif);
}

input[type=checkbox]::button {
	background-position: 0 -32px;
}

input:hover input[type=checkbox]::button {
	background-position: -16px -32px;
}

input:disabled input[type=checkbox]::button {
	background-position: -32px -32px;
}

input:checked input[type=checkbox]::button {
	background-position: 0px -48px;
}

input:hover:checked input[type=checkbox]::button {
	background-position: -16px -48px;
}

input:disabled:checked input[type=checkbox]::button {
	background-position: -32px -48px;
}

input[type=radio]::button {
	background-position: 0 0;
}

input:hover input[type=radio]::button {
	background-position: -16px 0;
}

input:disabled input[type=radio]::button {
	background-position: -32px 0;
}

input:checked input[type=radio]::button {
	background-position: 0px -16px;
}

input:hover:checked input[type=radio]::button {
	background-position: -16px -16px;
}

input:disabled:checked input[type=radio]::button {
	background-position: -32px -16px;
}


input[type=date]::field,
input[type=time]::field,
input[type=datetime]::field,
input[type=datetime-local]::field,
input[type=week]::field,
input[type=month]::field,
input[type=number]::field,
input[type=color]::field,
input[type=search]::field,
select::field {
	padding-right:18px;
}

/* */
input[type=range]::before,
input[type=range]::after {
	vertical-align:top;
	width:2px;
	height: 16px;
}

input::before {
	background-color: green;
}

input::after {
	background-color: blue;
}

/* */
select::value {
	cursor: default;
}

input::popup,
select::popup {
	border: solid 1px silver;
	width: inherit;
}

optgroup::value {
	font-style: italic;
}

option,
optgroup::value {
	cursor: default;
}

option:hover {
	background-color: lightblue;
	color: black;
}

select:focus option:selected {
	background-color: blue;
	color: white;
}

option:selected {
	background-color: gray;
	color: white;
}

/* spinbuttons */
spinbuttons {
	width: 16px;
}

spinbuttons::button-up,
spinbuttons::button-down {
	position:absolute;
	right: 0;
	height: 8px;
	width: 16px;
	background-image: url(media/spinbuttons.gif);
	background-repeat: no-repeat;
	font-size: 1px;
	line-height: 8px;
}

spinbuttons::button-up {
	background-position: 0px 0px;
}

spinbuttons::button-up:hover {
	background-position: 0px -8px;
}

spinbuttons::button-up:active {
	background-position: 0px -16px;
}

spinbuttons:disabled spinbuttons::button-up {
	background-position: 0px -24px;
}

spinbuttons::button-down {
	top: 8px;
	background-position: -16px 0px;
}

spinbuttons::button-down:hover {
	background-position: -16px -8px;
}

spinbuttons::button-down:active {
	background-position: -16px -16px;
}

spinbuttons:disabled spinbuttons::button-down {
	background-position: -16px -24px;
}