## Rewrite engine
RewriteEngine on

##
RewriteRule runtime.js source-builder.php?path=./
RewriteRule runtime-prod.js source-builder.php?prod=true&path=./
RewriteRule languages/([a-z]+)/([a-z]+).js source-builder.php?path=./languages/$1/
RewriteRule ^(.*)-prod.css($|\?) $1.php?prod=true
RewriteRule ^(.*).css($|\?) $1.php