## Rewrite engine
RewriteEngine on

## Runtime
RewriteRule		runtime.js						../resources/assemble.php?path=../ample/runtime/
RewriteRule		runtime-prod.js					../resources/assemble.php?path=../ample/runtime/&prod=true

## Languages
RewriteRule		languages/([a-z]+)/([a-z]+).js	../resources/assemble.php?path=../ample/languages/$1/
##
RewriteRule		languages/(.*)-prod.css($|\?)	languages/$1.php?prod=true
RewriteRule		languages/(.*).css($|\?)		languages/$1.php

## Plugins
RewriteRule		plugins/xpath/xpath.js			../resources/assemble.php?path=../ample/plugins/xpath/