c|line,
c|bar,
c|bubble,
c|pie,
c|radar,
c|funnel,
c|doughnut,
c|map {
	display: inline-block;
	background-color: #eee;
	border: double 3px gray;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

c|lineGroup,
c|radarGroup {
	stroke:	black;
}

c|line::label,
c|bar::label,
c|bubble::label,
c|pie::label,
c|radar::label,
c|funnel::label,
c|doughnut::label,
c|map::label {
	font-size: 20px;
	fill: #999;
	text-anchor: middle;
}

c|lineItem,
c|barItem,
c|bubbleItem,
c|pieItem,
c|radarItem,
c|funnelItem,
c|doughnutItem,
c|mapItem {
	cursor: pointer;
}


/* series colors */
c|lineGroup:nth-child(0),
c|barGroup:nth-child(0),
c|bubbleGroup:nth-child(0),
c|radarGroup:nth-child(0),
c|funnelItem:nth-child(0),
c|pieItem:nth-child(0),
c|doughnutItem:nth-child(0) {
	stroke:	#54A14B;
	fill: 	#54A14B;
}

c|lineGroup:nth-child(1),
c|barGroup:nth-child(1),
c|bubbleGroup:nth-child(1),
c|radarGroup:nth-child(1),
c|funnelItem:nth-child(1),
c|pieItem:nth-child(1),
c|doughnutItem:nth-child(1) {
	stroke:	#D8691F;
	fill:	#D8691F;
}

c|lineGroup:nth-child(2),
c|barGroup:nth-child(2),
c|bubbleGroup:nth-child(2),
c|radarGroup:nth-child(2),
c|funnelItem:nth-child(2),
c|pieItem:nth-child(2),
c|doughnutItem:nth-child(2) {
	stroke:	#0C4E83;
	fill:	#0C4E83;
}

c|lineGroup:nth-child(3),
c|barGroup:nth-child(3),
c|bubbleGroup:nth-child(3),
c|radarGroup:nth-child(3),
c|funnelItem:nth-child(3),
c|pieItem:nth-child(3),
c|doughnutItem:nth-child(3) {
	stroke:	darkred;
	fill:	darkred;
}

/* axis and grid */
c|xAxis,
c|yAxis,
c|rAxis {
	stroke: gray;
}

c|grid {
	stroke: #ddd;
/*	stroke-width:1;*/
}

c|xAxis::label,
c|yAxis::label {
	fill: gray;
	stroke: none;
	font-size: 18px;
	font-style: italic;
}

c|xAxis::scale,
c|yAxis::scale {
	fill: gray;
	stroke: none;
	font-size: 10px;
	font-style: italic;
}

/* individual charts styling */
/* */
c|pieItem,
c|funnelItem,
c|doughnutItem {
	stroke: white;
	stroke-width: 2;
	font-size: 12px;
}

c|pieItem::path,
c|funnelItem::path {
	stroke: black;
	stroke-width: 1;
}

/* */
c|radarGroup,
c|lineGroup {
	stroke-width:	2;
}

c|radarItem,
c|lineItem {
	fill:	white;
}

c|radarGroup::area,
c|lineGroup::area {
	opacity:	0.2;
}

c|bubbleGroup,
c|barGroup {
	stroke:	white;
	stroke-width:	1;
}

c|radarGroup::label,
c|lineGroup::label,
c|barGroup::label,
c|bubbleGroup::label {
	fill:	black;
}

c|radarGroup::shadow,
c|lineGroup::shadow,
c|barItem::shadow,
c|bubbleItem::shadow {
	/*fill: black;*/
	/*stroke: black;*/
	opacity:	0.5;
}

c|doughnutItem::label,
c|bubbleItem::label {
	fill: white;
}

c|bubbleItem::label {
	text-anchor:	middle;
}

/* Maps */
c|mapItem {
	stroke: white;
	stroke-width: 1;
	fill: gray;
}

/* hover effects */
c|barItem:hover,
c|bubbleItem:hover,
c|lineItem:hover,
c|radarGroup:hover c|radarGroup::value,
c|doughnutItem:hover c|doughnutItem::value,
c|pieItem:hover c|pieItem::value,
c|funnelItem:hover c|funnelItem::value,
c|mapItem:hover c|mapItem::value {
	opacity: 0.5;
}

c|lineGroup:hover {
	stroke-width:	3;
}

c|mapItem:hover {
	fill:	silver;
	stroke:	gray;
}