c|line,
c|bar,
c|bubble,
c|pie,
c|doughnut,
c|map {
	background-color: #eee;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: double 3px gray;
}

c|line::label,
c|bar::label,
c|bubble::label,
c|pie::label,
c|doughnut::label,
c|map::label {
	font-size: 20px;
	fill: green;
	text-anchor: middle;
	text-decoration: underline;	/* Not supported in FF */
}

c|lineItem,
c|barItem,
c|bubbleItem,
c|pieItem,
c|doughnutItem,
c|mapItem {
	cursor: pointer;
}

c|pieItem {
	stroke: white;
	stroke-width: 1;
}

c|pieItem::label {
	font-weight: bold;
}

c|pieItem::path {
	stroke: black;
	stroke-width: 1;
}

c|xAxis,
c|yAxis {
	stroke: red;
}

c|grid {
	stroke: silver;
	stroke-width:1;
}

/* Axis labels */
c|xAxis::label,
c|yAxis::label {
	fill: red;
	stroke: none;
	font-size: 12px;
	font-style: italic;
	text-anchor: start;
}

c|lineGroup::shadow {
	fill:	none;
}

c|lineGroup:hover {

}

/* Maps */
c|mapItem {
	stroke: white;
	stroke-width: 1;
	opacity: 0.2;
	fill: green;
}