<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../../../stylesheets/page.xsl"?>
<element extends="xul:XULElement" name="menu" type="regular">
	<implements />
	<abstract>
		<locale xml:lang="ru">
			Элемент, по поведению напоминающий кнопку, размещается внутри <link type="element">menubar</link>.
			Когда происходит событие <link type="event">click</link>, появляется дочерний элемент <link type="element">menupopup</link>.
			Этот элемент так же используется для создания подменю.
		</locale>
	</abstract>
	<remarks />
	<examples />
	<members>
		<attributes>
			<attribute name="label" default="" readonly="false">
				<description>
					<locale xml:lang="ru">
						Текстовая метка для меню.
					</locale>
				</description>
			</attribute>
			<attribute name="image" default="" readonly="false">
				<description>
					<locale xml:lang="ru">
						URL к пиктограмме. Внимение: атрибут не доступен для дочерниъ элементов <link type="element">menubar</link>.
					</locale>
				</description>
			</attribute>
			<attribute name="value" default="" readonly="false">
				<description>
					<locale xml:lang="ru">
						Данные, ассоциированные с каждым элементом <link type="element">menu</link> и <link type="element">menuitem</link>. Предназначен для использования в скрипте.
					</locale>
				</description>
			</attribute>
		</attributes>
		<methods>
		</methods>
		<properties>
			<property name="popup" type="AMLElement" readonly="false">
				<description>
					<locale xml:lang="ru">
						Ссылка на элемент <link type="element">menupopup</link>, если таковой существует.
					</locale>
				</description>
			</property>
		</properties>
		<events>
<!--
			<event name="command" group="Event" cancelable="false" bubbles="true">
				<description>
				</description>
			</event>
-->
		</events>
	</members>
</element>