c|chart,
c|line,
c|bar,
c|bubble,
c|map,
c|pie,
c|radar,
c|funnel,
c|doughnut {
	display: inline-block;
	background-color: #eee;
	border: double 3px gray;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

c|chart,
c|line,
c|bar,
c|bubble,
c|map {
	width: 600px;/*100%;*/
}

c|pie,
c|funnel,
c|doughnut {
	width: 300px;/*50%;*/
}

c|radar {
	width: 400px;/*66%;*/
}

c|chart c|group,
c|line c|group,
c|radar c|group {
	stroke:	black;
}

c|map c|item::underlay {
	fill:	#fff;
	stroke: #bbb;
	stroke-width: 1;
}

c|map c|item::underlay:hover {
	fill:	silver;
	stroke: white;
}

c|line::title,
c|bar::title,
c|bubble::title,
c|pie::title,
c|radar::title,
c|funnel::title,
c|doughnut::title,
c|map::title {
	font-size: 20px;
	fill: #999;
	text-anchor: middle;
}

c|line c|item,
c|bar c|item,
c|bubble c|item,
c|pie c|item,
c|radar c|item,
c|funnel c|item,
c|doughnut c|item,
c|map c|item {
	cursor: pointer;
}


/* series colors */
c|line c|group:nth-child(0),
c|bar c|group:nth-child(0),
c|bubble c|group:nth-child(0),
c|radar c|group:nth-child(0),
c|map c|group:nth-child(0),
c|funnel c|item:nth-child(0),
c|pie c|item:nth-child(0),
c|doughnut c|item:nth-child(0) {
	stroke:	#54A14B;
	fill: 	#54A14B;
}

c|line c|group:nth-child(1),
c|bar c|group:nth-child(1),
c|bubble c|group:nth-child(1),
c|radar c|group:nth-child(1),
c|map c|group:nth-child(1),
c|funnel c|item:nth-child(1),
c|pie c|item:nth-child(1),
c|doughnut c|item:nth-child(1) {
	stroke:	#D8691F;
	fill:	#D8691F;
}

c|line c|group:nth-child(2),
c|bar c|group:nth-child(2),
c|bubble c|group:nth-child(2),
c|radar c|group:nth-child(2),
c|map c|group:nth-child(2),
c|funnel c|item:nth-child(2),
c|pie c|item:nth-child(2),
c|doughnut c|item:nth-child(2) {
	stroke:	#0C4E83;
	fill:	#0C4E83;
}

c|line c|group:nth-child(3),
c|bar c|group:nth-child(3),
c|bubble c|group:nth-child(3),
c|radar c|group:nth-child(3),
c|map c|group:nth-child(3),
c|funnel c|item:nth-child(3),
c|pie c|item:nth-child(3),
c|doughnut c|item:nth-child(3) {
	stroke:	darkred;
	fill:	darkred;
}

/* axis and grid */
c|xAxis,
c|yAxis,
c|rAxis {
	stroke: gray;
}

c|grid {
	fill: none;
	stroke: #ddd;
/*	stroke-width:1;*/
}

c|xAxis::label,
c|yAxis::label,
c|rAxis::label {
	fill: gray;
	stroke: none;
	font-size: 18px;
	font-style: italic;
}

c|xAxis::scale,
c|yAxis::scale,
c|rAxis::scale {
	fill: gray;
	stroke: none;
	font-size: 10px;
	font-style: italic;
}

c|legend {
	fill:	#fff;
	stroke:	silver;
}

/* individual charts styling */
c|bar c|group::label,
c|line c|group::label,
c|bubble c|group::label,
c|radar c|group::label,
c|map c|group::label {
	cursor:	default;
	font-size: 12px;
	fill:	black;
}

/* */
c|pie c|item,
c|funnel c|item,
c|doughnut c|item {
	stroke: white;
	stroke-width: 2;
	font-size: 12px;
}

/* */
c|radar c|group,
c|line c|group {
	stroke-width:	2;
}

c|map c|group::path,
c|radar c|group::path {
	stroke:	white;
}

c|radar c|item,
c|line c|item,
c|line c|group::path {
	fill:	white;
}

c|radar c|group::area,
c|line c|group::area {
	fill-opacity:	0.66;
	stroke-opacity:	0.66;
}

c|bubble c|group,
c|bar c|group {
	stroke:	white;
	stroke-width:	1;
}

c|radar c|group::shadow,
c|line c|group::shadow,
c|bar c|item::shadow,
c|bubble c|item::shadow {
	/*fill: black;*/
	/*stroke: black;*/
	fill-opacity:	0.25;
	stroke-opacity:	0.25;
}

c|doughnut c|item::label,
c|bubble c|item::label {
	fill: white;
}
/*
c|bubble c|item::label {
	text-anchor:	middle;
}
*/
/* hover effects */
c|bar c|item:hover,
c|bubble c|item:hover,
c|line c|item:hover, c|line c|group:hover c|group::area,
c|radar c|item:hover, c|radar c|group:hover c|group::area,
c|doughnut c|item:hover c|item::path,
c|pie c|item:hover c|item::path,
c|funnel c|item:hover c|item::path {
	fill-opacity: 0.5;
	stroke-opacity: 0.5;
}

c|radar c|group:hover,
c|line c|group:hover {
	stroke-width:	3;
}

c|bubble c|group:hover,
c|bar c|group:hover,
c|map c|group:hover {
	stroke-width:	2;
}

c|map c|item:hover {
	fill:	gold;
}

/* selection effects */
c|bar c|group:selected,
c|bubble c|group:selected,
c|line c|group:selected, c|line c|group:selected c|group::area,
c|radar c|group:selected, c|radar c|group:selected c|group::area,
c|map c|group:selected {
	fill-opacity: 0.33;
	stroke-opacity: 0.33;
}
