xul|dialog,
xul|wizard,
xul|window {
	border-radius: 5px;
	box-shadow: 0 2px 8px #AAA;
}

xul|dialog::head,
xul|wizard::head,
xul|window::head {
	top-left-radius: 5px;
	top-right-radius : 5px;
}

xul|datepicker-pane,
xul|colorpicker-pane {
	border-radius: 3px;
}

xul|menu,
xul|button,
xul|textbox,
xul|editor,
xul|colorpicker,
xul|menulist,
xul|datepicker,
xul|timepicker,
xul|spinbuttons {
	border-radius: 3px;
}