xul|datepicker-pane {
	cursor: default;
	vertical-align: top;
	display:inline-block;
	margin: 1px;
}

xul|datepicker-pane xul|menupopup::shadow-bottom,
xul|datepicker-pane xul|menupopup::shadow-right {
	display: none;
}

xul|datepicker-pane::header {
	background-color: #B4CBEA;
	color: white;
	text-align: center;
	font-weight: bold;
}
xul|datepicker-pane::month {
	height: 19px;
}
xul|datepicker-pane::month-previous,
xul|datepicker-pane::month-next {
	margin-left: 2px;
	margin-right: 2px;
	width:	17px;
	height: 17px;
	line-height: 15px;
	display: inline-block;
}
xul|datepicker-pane::month-previous {
	background: url('media/scrollbox_arrow_left.gif') no-repeat center center;
}
xul|datepicker-pane::month-next {
	background: url('media/scrollbox_arrow_right.gif') no-repeat center center;
}
xul|datepicker-pane-day,
xul|datepicker-pane-weekend {
	width: 24px;
	background-color: #f1f1f1;
	color: black;
}
xul|datepicker-pane-weekend {
	font-weight: bold;
}
xul|datepicker-pane-day:disabled {
	background-color: #d0d0d0;
	color: #F0F0F0;
}
xul|datepicker-pane-day:selected {
	color: #ffffff;
	background-color: #3399FF;
}
xul|datepicker-pane-day:hover {
	background-color: silver;
}
xul|datepicker-pane-week {
	width: 1.5em;
	/*height:18px;*/
	color: gray;
	font-style: italic;
}

/* Subviews */
xul|datepicker-pane xul|menulist {
	width: 90px;
}
xul|datepicker-pane xul|textbox {
	width: 60px;
}
xul|datepicker-pane xul|textbox::input {
	text-align:left;
}