xul|textbox,
xul|editor,
xul|colorpicker,
xul|menulist,
xul|datepicker,
xul|timepicker,
xul|spinbuttons {
	border: 1px solid silver;
	margin:	1px;
	background-color: Window;
	display: inline-block;
}

xul|textbox,
xul|editor {
	width:	180px;
	outline: none; /* removes browser native outline when focused */
}

xul|textbox::placeholder {
	padding-left:1px;
	font-style:	italic;
}

xul|textbox::input,
xul|colorpicker::input,
xul|menulist::input,
xul|datepicker::input,
xul|timepicker::input,
xul|spinbuttons::input {
	background:	transparent;
	vertical-align: top;
	padding:0;
	padding-left: 1px;
	color: inherit;
	outline: none; /* removes browser native outline when focused */
}

xul|textbox[multiline=true] {
	height:	60px;
}

xul|colorpicker::button,
xul|menulist::button,
xul|datepicker::button {
	position:absolute;
	right: 0;
	width:  15px;
	height: 15px;
	margin: 1px;
	font-size: 1px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

xul|colorpicker::button:hover,
xul|menulist::button:hover,
xul|datepicker::button:hover {
	background-position: 0px -15px;
}

xul|colorpicker::button:active,
xul|menulist::button:active,
xul|datepicker::button:active {
	background-position: 0px -30px;
}

xul|colorpicker:disabled xul|colorpicker::button,
xul|menulist:disabled xul|menulist::button,
xul|datepicker:disabled xul|datepicker::button {
	background-position: 0px -45px;
}

/* datepicker */
xul|datepicker {
	width:	90px;
}

xul|datepicker::button {
	background-image: url(media/datepicker.gif);
}

/* colopicker */
xul|colorpicker {
	width:  90px;
}

xul|colorpicker::button {
	background-image: url(media/colorpicker.gif);
}

/* menulist */
xul|menulist {
	width:  90px;
}

xul|menulist::button {
	background-image: url(media/menulist.gif);
}

/* spinbuttons */
xul|spinbuttons {
	width: 60px;
}

xul|spinbuttons::button-up,
xul|timepicker::button-up,
xul|spinbuttons::button-down,
xul|timepicker::button-down {
	position:absolute;
	right: 0;
	height: 8px;
	width: 16px;
	background-image: url(media/spinbuttons.gif);
	background-repeat: no-repeat;
	font-size: 1px;
}

xul|spinbuttons::button-up,
xul|timepicker::button-up {
	background-position: 0px 0px;
}

xul|spinbuttons::button-up:hover,
xul|timepicker::button-up:hover {
	background-position: 0px -8px;
}

xul|spinbuttons::button-up:active,
xul|timepicker::button-up:active {
	background-position: 0px -16px;
}

xul|spinbuttons:disabled xul|spinbuttons::button-up,
xul|timepicker:disabled xul|timepicker::button-up {
	background-position: 0px -24px;
}

xul|spinbuttons::button-down,
xul|timepicker::button-down {
	top: 8px;
	background-position: -16px 0px;
}

xul|spinbuttons::button-down:hover,
xul|timepicker::button-down:hover {
	background-position: -16px -8px;
}

xul|spinbuttons::button-down:active,
xul|timepicker::button-down:active {
	background-position: -16px -16px;
}

xul|spinbuttons:disabled xul|spinbuttons::button-down,
xul|timepicker:disabled xul|timepicker::button-down {
	background-position: -16px -24px;
}

/* timpicker */
xul|timepicker {
	width: 90px;
}

/* scale */
xul|scale {
	box-sizing: content-box;
	margin:	1px;
	height:	19px;
	width:	200px;
	display: inline-block;
}

xul|scale[orient=horizontal] {
	background: url(media/scale_bar_horizontal.gif) repeat-x center;
}

xul|scale[orient=horizontal] xul|scale::button {
	height:	21px;
	width:	12px;
	background-image: url(media/scale_button_down.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

xul|scale[orient=horizontal] xul|scale::button:hover {
	background-position: 0px -21px;
}

xul|scale[orient=horizontal] xul|scale::button:active {
	background-position: 0px -42px;
}

xul|scale:disabled xul|scale[orient=horizontal] xul|scale::button {
	background-position: 0px -63px;
}

/* radio / radiogroup */
xul|radiogroup {
	display: inline-block;
	margin: 1px;
}

xul|radio {

}

/* checkbox */
xul|checkbox {
	margin: 1px;
}

xul|radio::label,
xul|checkbox::label {
	padding-right: 2px;
}

xul|radio::input,
xul|checkbox::input {

}

/* */
xul|datepicker xul|datepicker-pane,
xul|colorpicker xul|colorpicker-pane {
	position:	absolute;
	display:	block;
	margin-left: 0;
}
xul|datepicker xul|datepicker-pane xul|menupopup::shadow-bottom,
xul|datepicker xul|datepicker-pane xul|menupopup::shadow-right,
xul|colorpicker xul|colorpicker-pane xul|menupopup::shadow-bottom,
xul|colorpicker xul|colorpicker-pane xul|menupopup::shadow-right {
	display: block;
}

xul|colorpicker::gateway,
xul|menulist::gateway,
xul|datepicker::gateway {
	margin-left: -1px;
}

xul|textbox::field,
xul|colorpicker::field,
xul|timepicker::field,
xul|datepicker::field,
xul|menulist::field,
xul|spinbuttons::field {
	position:relative;
	padding-right: 17px;
	padding-left:1px;
	height: 17px;
}

xul|textbox::field {
	padding-right: 1px;
	height: 100%;
}

/* states */
xul|textbox:focus,
xul|editor:focus,
xul|colorpicker:focus,
xul|menulist:focus,
xul|datepicker:focus,
xul|timepicker:focus,
xul|spinbuttons:focus {
	border-color: #7F9DB9;
	border-width: 2px;
	margin:	0;
}

xul|checkbox:focus,
xul|radiogroup:focus,
xul|scale:focus {
	border: dotted 1px #7F9DB9;
	margin: 0;
}

xul|textbox:disabled,
xul|editor:disabled,
xul|colorpicker:disabled,
xul|menulist:disabled,
xul|datepicker:disabled,
xul|timepicker:disabled,
xul|spinbuttons:disabled {
	background-color: rgb(235, 235, 228);
}

xul|textbox:disabled,
xul|editor:disabled,
xul|colorpicker:disabled,
xul|menulist:disabled,
xul|datepicker:disabled,
xul|timepicker:disabled,
xul|spinbuttons:disabled,
xul|checkbox:disabled,
xul|radio:disabled {
	cursor: default;
	color: GrayText;/*#aca899;*/
}