xul|textbox,
xul|editor,
xul|colorpicker,
xul|menulist,
xul|datepicker,
xul|timepicker,
xul|spinbuttons {
	margin: 1px;
	display: inline-block;
	line-height: 17px;
	border: 1px solid ThreeDShadow;/*1px solid #7F9DB9*/;
	background-color: Window;/*white*/;
	-webkit-box-sizing: border-box;/* odd enough, no? */
	-moz-box-sizing: border-box;/* odd enough, no? */
}

xul|colorpicker,
xul|menulist,
xul|datepicker,
xul|timepicker,
xul|spinbuttons {
	height: 19px;
}

xul|textbox,
xul|editor {
	width:	200px;
	outline: none; /* removes browser native outline when focused */
}

/* states */
xul|textbox:focus,
xul|editor:focus,
xul|colorpicker:focus,
xul|menulist:focus,
xul|datepicker:focus,
xul|timepicker:focus,
xul|spinbuttons:focus {
	border-color: lightblue;
}

xul|checkbox:disabled,
xul|radio:disabled,
xul|colorpicker:disabled,
xul|menulist:disabled,
xul|datepicker:disabled,
xul|timepicker:disabled,
xul|spinbuttons:disabled {
	cursor: default;
	color: GrayText;/*#aca899;*/
}

xul|colorpicker::input,
xul|menulist::input,
xul|datepicker::input,
xul|timepicker::input,
xul|spinbuttons::input {
	background:	transparent;
	vertical-align:	top;
	height:	17px;
	padding:0;
	margin-right:1px;
	outline: none; /* removes browser native outline when focused */
}

xul|colorpicker::button,
xul|menulist::button,
xul|datepicker::button {
	width:  15px;
	height: 15px;
	margin: 1px;
	font-size: 1px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

xul|colorpicker::button:hover,
xul|menulist::button:hover,
xul|datepicker::button:hover {
	background-position: 0px -15px;
}

xul|colorpicker::button:active,
xul|menulist::button:active,
xul|datepicker::button:active {
	background-position: 0px -30px;
}

xul|colorpicker:disabled xul|colorpicker::button,
xul|menulist:disabled xul|menulist::button,
xul|datepicker:disabled xul|datepicker::button {
	background-position: 0px -45px;
}

/* datepicker */
xul|datepicker {
	width:	90px;
}

xul|datepicker::button {
	background-image: url(media/datepicker.gif);
}

/* colopicker */
xul|colorpicker {
	width:  90px;
}

xul|colorpicker::button {
	background-image: url(media/colorpicker.gif);
}

/* menulist */
xul|menulist {
	width:  90px;
}

xul|menulist::button {
	background-image: url(media/menulist.gif);
}

/* spinbuttons */
xul|spinbuttons {
	width: 60px;
}

xul|spinbuttons::button-up,
xul|timepicker::button-up,
xul|spinbuttons::button-down,
xul|timepicker::button-down {
	height: 8px;
	width: 16px;
	line-height:	8px;
	background-image: url(media/spinbuttons.gif);
	background-repeat: no-repeat;
}

xul|spinbuttons::button-up,
xul|timepicker::button-up {
	background-position: 0px 0px;
}

xul|spinbuttons::button-up:hover,
xul|timepicker::button-up:hover {
	background-position: 0px -8px;
}

xul|spinbuttons::button-up:active,
xul|timepicker::button-up:active {
	background-position: 0px -16px;
}

xul|spinbuttons:disabled xul|spinbuttons::button-up,
xul|timepicker:disabled xul|timepicker::button-up {
	background-position: 0px -24px;
}

xul|spinbuttons::button-down,
xul|timepicker::button-down {
	background-position: -16px 0px;
}

xul|spinbuttons::button-down:hover,
xul|timepicker::button-down:hover {
	background-position: -16px -8px;
}

xul|spinbuttons::button-down:active,
xul|timepicker::button-down:active {
	background-position: -16px -16px;
}

xul|spinbuttons:disabled xul|spinbuttons::button-down,
xul|timepicker:disabled xul|timepicker::button-down {
	background-position: -16px -24px;
}

/* timpicker */
xul|timepicker {
	width: 90px;
}

/* scale */
xul|scale {
	display: inline-block;
	margin:	1px;
	height:	19px;
	width:	12em;
}

xul|scale * {
	font-size: 1px;
}

xul|scale[orient=horizontal] {
	background: url(media/scale_bar_horizontal.gif) repeat-x center;
}

xul|scale[orient=horizontal] xul|scale::button {
	height:	21px;
	width:	11px;
	background-image: url(media/scale_button_down.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

xul|scale[orient=horizontal] xul|scale::button:hover {
	background-position: 0px -21px;
}

xul|scale[orient=horizontal] xul|scale::button:active {
	background-position: 0px -42px;
}

xul|scale:disabled xul|scale[orient=horizontal] xul|scale::button {
	background-position: 0px -63px;
}

/* radio / radiogroup */
xul|radiogroup {

}

xul|radio {

}

/* checkbox */
xul|checkbox {

}

/* */
xul|datepicker xul|datepicker-pane,
xul|colorpicker xul|colorpicker-pane {
	position:	absolute;
}