/* button */
xul|button {
	margin: 0px;
	margin-right: 1px;
	cursor: default;
}

xul|progressmeter {
	height:	17px;
}

xul|progressmeter::value {
	height:	10px;
	top: 4px;
	background:	#3C3 url(media/progressmeter_unit.gif) repeat-x;
}

xul|progressmeter::bar {
	margin-left: 4px;
	margin-right: 4px;
	height: 17px;
	background:	url(media/progressmeter_bar.gif) repeat-x;
}

xul|progressmeter::before,
xul|progressmeter::after {
	width:	4px;
	height: 17px;
	background-image: url(media/progressmeter_corner.gif);
	background-repeat: no-repeat;
}

xul|progressmeter::before {
	background-position: 0px 0px;
}

xul|progressmeter::after {
	background-position: -4px 0px;
}

/* div */
xul|panel,
xul|tooltip {
	cursor:	default;
	background-color:	#fff;
	border:	solid 1px #aca899;
	padding:2px;
	z-index:1;
}

/* div */
xul|splitter {
	cursor:	default;
	background-color: #F1F0E8;
	border-style: solid;
	border-width: 1px;
	border-color: white #D8D2BD #D8D2BD white;
}

xul|splitter::image {
/*	background-color:	silver;
	border-color: silver;
	border-style: inset;
	border-width: 0;
	border-color: #D8D2BD;*/
}

xul|splitter-vertical {
	width:	100%;
	height:	4px;
	cursor: n-resize;
}

xul|splitter-vertical xul|splitter::image {
	width:	100%;
	height: 4px;
/*	border-width: 1px 0;*/
	line-height: 1px;
	background: url(media/dimple.png) no-repeat scroll center center;
}

/* div */
xul|splitter-horizontal {
	width:	4px;
	height: 100%;
	cursor: e-resize;
}

xul|splitter-horizontal xul|splitter::image {
	width:	4px;
	height: 100%;
/*	border-width: 0 1px;*/
	background: url(media/dimple.png) no-repeat scroll center center;
}

xul|splitter:hover xul|splitter::image {
	background-color: #D8D2BD;
}

xul|splitter:active xul|splitter::image {
/*	background-color: white;*/
	position:absolute;
	z-index: 1;
}

xul|arrowscrollbox {

}

xul|arrowscrollbox-button {
	background-color:	#fff;
	background-repeat:	no-repeat;
	border-width:	1px;
}

xul|arrowscrollbox-button div {
	width:	7px;
	height: 7px;
}

xul|arrowscrollbox-button-normal {
	border-style:	outset;
}

xul|arrowscrollbox-button-hover {
	border-style:	inset;
}

xul|arrowscrollbox-button-up {
	background-image:	url(media/scrollbox_arrow_up.gif);
}

xul|arrowscrollbox-button-up-normal {
	background-position:	center 0px;
}

xul|arrowscrollbox-button-up-hover {
	background-position:	center 1px;
}

xul|arrowscrollbox-button-down {
	background-image:	url(media/scrollbox_arrow_down.gif);
}

xul|arrowscrollbox-button-down-normal {
	background-position:	center 1px;
}

xul|arrowscrollbox-button-down-hover {
	background-position:	center 2px;
}

xul|arrowscrollbox-button-left {
	background-image:	url(media/scrollbox_arrow_left.gif);
}

xul|arrowscrollbox-button-left-normal {
	background-position:	0px center;
}

xul|arrowscrollbox-button-left-hover {
	background-position:	1px center;
}

xul|arrowscrollbox-button-right {
	background-image:	url(media/scrollbox_arrow_right.gif);
}

xul|arrowscrollbox-button-right-normal {
	background-position:	1px center;
}

xul|arrowscrollbox-button-right-hover {
	background-position:	2px center;
}

xul|statusbar {
	/*position:absolute;
	bottom:0px;
	left:0px;*/
	cursor:		default;
	background:	url(media/statusbar.gif) repeat-x;
}

xul|statusbarpanel {
	background: url(media/statusbarpanel_splitter.gif) no-repeat right;
	padding:	2px;
}


/* spinbuttons */
xul|spinbuttons {
	width: 16px;
}

xul|spinbuttons::button-up,
xul|spinbuttons::button-down {
	position:absolute;
	right: 0;
	height: 8px;
	width: 16px;
	background-image: url(media/spinbuttons.gif);
	background-repeat: no-repeat;
	font-size: 1px;
	line-height: 8px;
}

xul|spinbuttons::button-up {
	background-position: 0px 0px;
}

xul|spinbuttons::button-up:hover {
	background-position: 0px -8px;
}

xul|spinbuttons::button-up:active {
	background-position: 0px -16px;
}

xul|spinbuttons:disabled xul|spinbuttons::button-up {
	background-position: 0px -24px;
}

xul|spinbuttons::button-down {
	top: 8px;
	background-position: -16px 0px;
}

xul|spinbuttons::button-down:hover {
	background-position: -16px -8px;
}

xul|spinbuttons::button-down:active {
	background-position: -16px -16px;
}

xul|spinbuttons:disabled xul|spinbuttons::button-down {
	background-position: -16px -24px;
}