xul|listbox {
	cursor: default !important;
	border: 1px solid #7F9DB9;
	background-color: white;
}

xul|listhead {
	line-height: 18px;
}

xul|listhead::settings {
	width:	18px;
	height:	18px;
	background-image: url(media/listhead_settings.gif);
	background-position: 2px 0;
}

xul|listheader {
	font-weight: normal;
	background-image: url(media/listheader.gif);
	background-repeat: repeat-x;
	background-position: 0px -2px;
}

xul|listheader:hover {
	background-position: 0px -22px;
}

xul|listheader:active {
	background-position: 0px -40px;
}

xul|listheader::label {
	padding: 0px;
	background-image: url(media/listheader_splitter.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

xul|listheader::command,
xul|listitem::command {
	width:	16px;
	height:	16px;
	margin:	0px;
	padding:0px;
	vertical-align:	middle;
	margin-left: 2px;
}

xul|listitem {
	line-height:	18px;
}

xul|listitem:hover {
	background-color: #cce1ff;
}

xul|listitem:selected {
	background-color: gray;
	color: white;
}

xul|listbox:focus xul|listitem:selected {
	background-color: #316AC5;
}

xul|listcell {
	padding-right:	2px;
	padding-left:	2px;
	white-space:	nowrap;
	vertical-align: middle;
}

xul|listcell::command {
	width:	16px;
	height:	16px;
	margin:	0px;
	padding:0px;
	vertical-align: middle;
}