xul|deck {
	width:100%;
	height:100%;
}

xul|groupbox {

}

xul|groupbox-head {
	background: url(media/groupbox_horizontal.gif) repeat-x 0px 6px;
}

xul|groupbox-head-left {
	width:	11px;
	height:	22px;
	background: url(media/groupbox_corner.gif) no-repeat 0px 11px;
}

xul|groupbox-head-right {
	width:	11px;
	background: url(media/groupbox_corner.gif) no-repeat -11px 11px;
}

xul|groupbox-body-left {
	background: url(media/groupbox_vertical.gif) repeat-y;
}

xul|groupbox-body-right {
	background: url(media/groupbox_vertical.gif) repeat-y;
}

xul|groupbox-foot {
	height:	11px;
	background: url(media/groupbox_horizontal.gif) repeat-x 0px 5px;
}

xul|groupbox-foot-left {
	background: url(media/groupbox_corner.gif) no-repeat 0 -11px;
}

xul|groupbox-foot-right {
	background: url(media/groupbox_corner.gif) no-repeat -11px -11px;
}

xul|caption {
	background-color: Window;
	color: darkblue;
	padding-right:4px;
	padding-left: 4px;
	cursor: default !important;
}

xul|iframe {

}

xul|image {

}

xul|label {
	vertical-align:	top;
	padding-left: 3px;
	padding-right: 2px;
}

xul|description {

}

xul|spacer {

}

xul|stack {

}

xul|grid {

}

xul|rows {

}

xul|row {

}