xul|menupopup {
	cursor:	default !important;
	background-color: #F0F0F0;
	border:	solid 1px #A0A0A0;
	padding:	2px;
	z-index:	100;
}

xul|menupopup::shadow-right {
	top:	3px;
	right:	-3px;
	width:	2px;
	height:	100%;
}

xul|menupopup::shadow-bottom {
	left:	3px;
	bottom:	-3px;
	width:	100%;
	height:	2px;
}

xul|menupopup::shadow-right,
xul|menupopup::shadow-bottom {
	font-size: 3px;	/* IE fix */
	background-color: #A0A0A0;
}

xul|menuitem {
	color: black;
}
xul|menuitem:hover {
	color: white;
	background-color: #3399FF;
}
xul|menuitem:selected {
	color: #ffffff;
	background-color: #3399FF;
}
xul|menuitem:disabled {
	color:	#808080;
}
xul|menuitem[type]::image {
	background-repeat: no-repeat;
	width:	16px;
	height:	16px;
	vertical-align: middle;
}
xul|menuitem[type=checkbox]::image {
	background-position: 0px 16px;	/* hidden */
	background-image: url(media/menuitem_checkbox.gif);
}
xul|menuitem[type=radio]::image {
	background-position: 0px 16px;	/* hidden */
	background-image: url(media/menuitem_radio.gif);
}
xul|menuitem:checked xul|menuitem::image {
	background-position: 0px 0px;
}
xul|menu {
	color: black;
}
xul|menu:hover {
	color: white;
	background-color: #3399FF;
}
xul|menu:selected {
	color: #ffffff;
	background-color: #3399FF;
}
xul|menu:disabled {
	color: #808080;
}
xul|menu::arrow {
	background-image:	url(media/menuitem_arrow.gif);
	background-repeat:	no-repeat;
	background-position: 0px 0px;
	vertical-align: middle;
	width: 16px;
	height:16px;
}
xul|menu::label,
xul|menuitem::label,
xul|menupopup xul|menu::label {
	padding: 1px;
}
xul|menu::label {
	padding: 2px;
	padding-left:	5px;
	padding-right:	5px;
}

xul|menuitem:checked:selected xul|menuitem::image,
xul|menu::arrow:selected {
	background-position: 0px -16px;
}
xul|menuitem:checked:disabled xul|menuitem::image,
xul|menu::arrow:disabled {
	background-position: 0px -48px;
}

xul|menuseparator {
	border-top:	solid 1px #A0A0A0;
	background-color:	#FFFFFF;
	margin-top:		2px;
	margin-bottom:	1px;
	height:	1px;
	line-height:	1px;
}
/* */
xul|menu::gateway xul|menupopup {
	margin-left: 0;
	margin-top:	0;
}
xul|menupopup::gateway xul|menupopup {
	margin-left:16px;
	margin-top:	-3px;
}