xul|tooltip-pane {
	border:	solid 1px black;
	background-color:	InfoBackground;
	color: InfoText;
	/*filter: blendTrans(duration=.1) progid:DXImageTransform.Microsoft.dropShadow(Color=AAAAAA,offX=2,offY=2,positive=true);*/
	padding:2px;
}