xul|tooltip-pane {
	border:	solid 1px black;
	background-color:	lightyellow;
	/*filter: blendTrans(duration=.1) progid:DXImageTransform.Microsoft.dropShadow(Color=AAAAAA,offX=2,offY=2,positive=true);*/
	padding:2px;
	line-height: 14px;
}