xul|listbox,
xul|tree {
	cursor: default !important;
	border: 1px solid silver;
	background-color: white;
	margin: 0px;
	height: 200px; /* default height */
}

xul|listbox:focus,
xul|tree:focus {
	border-color: #7F9DB9;
	border-width: 1px;
/*	margin: 0;*/
}

xul|listbox:disabled,
xul|tree:disabled {
	color: #808080;
	background-color: rgb(235, 235, 228);
}

xul|listhead::settings,
xul|treecols::settings {
	width:	16px;
	height:	20px;
	background: url(media/listhead_settings.gif) 0 0;
}

xul|listhead::area,
xul|treecols::area,
xul|listheader,
xul|treecol {
	background: url(media/listheader.gif) repeat-x 0 0;
}

xul|listheader:hover,
xul|treecol:hover {
	background-position: 0px -20px;
}

xul|listheader:active,
xul|treecol:active {
	background-position: 0px -40px;
}

xul|listheader::resizer,
xul|treecol::resizer {
	width: 5px;
	height: 18px;
	margin-right:-2px;
	background: url(media/listheader_splitter.gif) no-repeat 2px center;
	cursor: col-resize;
}

xul|listbox:disabled xul|listheader::resizer,
xul|tree:disabled xul|treecol::resizer {
	cursor: default;
}

xul|listhead,
xul|treecols {
	height:	20px;
}

xul|listitem:hover,
xul|treerow:hover {
	background-color: #cce1ff;
}

xul|listitem:selected,
xul|treerow:selected {
	background-color: gray;
	color: white;
}

xul|listbox:focus xul|listitem:selected,
xul|tree:focus xul|treerow:selected {
	background-color: #316AC5;
}

xul|listcell,
xul|listheader,
xul|treecell,
xul|treecol {
	line-height:1.2em;
	padding-left: 1px;
	padding-right: 1px;
}

xul|listcell::label,
xul|treecell::label,
xul|listheader::label,
xul|treecol::label {
	white-space:	nowrap;
	text-overflow: ellipsis;
}

xul|listcell::box,
xul|treecell::box,
xul|listheader::box,
xul|treecol::box {
/*	height: 1.15em;*/ /* works fine when font-size is given somewhere */
}

xul|listheader::command,
xul|listitem::command,
xul|treecol::command,
xul|treeitem::command,
xul|listcell::command,
xul|treecell::command {
	width:	16px;
	height:	16px;
	margin:	0px;
	padding:0px;
	vertical-align:	middle;
}

xul|listbox::resizer,
xul|tree::resizer {
	background-color: #7F9DB9;
	cursor:col-resize;
	width: 3px;
	margin-left: -4px;
}

/* Tree-specific */
xul|treecell::toc,
xul|treecell-line {
	width: 18px;
/*	height: 1.2em;*/
}

xul|treecell::toc {
	background:	url(media/treecell_toc.gif) no-repeat 0px center;
}

xul|treecell::toc:open {
	background-position:-24px center;
}

xul|treecell-line {
	background:	url(media/treecell_line.gif) no-repeat -72px center;
}

xul|treecell-line-regular {
	background-position:0 center;
}

xul|treecell-line-next {
	background-position:-24px center;
}

xul|treecell-line-last {
	background-position:-48px center;
}