xul|listbox,
xul|tree {
	cursor: default !important;
	border: 1px solid #7F9DB9;
	background-color: white;
}

xul|listhead,
xul|treecols {
	line-height: 18px;
}

xul|listhead::settings,
xul|treecols::settings {
	width:	16px;
	height:	18px;
	background: url(media/listhead_settings.gif) 0 0;
}

xul|listheader,
xul|treecol {
	font-weight: normal;
	background: url(media/listheader.gif) repeat-x 0px -2px;
}

xul|listheader:hover,
xul|treecol:hover {
	background-position: 0px -22px;
}

xul|listheader:active,
xul|treecol:active {
	background-position: 0px -40px;
}

xul|listheader::resizer,
xul|treecol::resizer {
	width: 5px;
	height: 18px;
	float: right;
	background: url(media/listheader_splitter.gif) no-repeat 2px center;
	cursor: col-resize;
}

xul|listheader::command,
xul|listitem::command,
xul|treecol::command,
xul|treeitem::command {
	width:	16px;
	height:	16px;
	margin:	0px;
	padding:0px;
	vertical-align:	middle;
	margin-left: 2px;
}

xul|listitem,
xul|treerow {
	line-height:	18px;
}

xul|listitem:hover,
xul|treerow:hover {
	background-color: #cce1ff;
}

xul|listitem:selected,
xul|treeitem:selected {
	background-color: gray;
	color: white;
}

xul|listbox:focus xul|listitem:selected,
xul|tree:focus xul|treeitem:selected {
	background-color: #316AC5;
}

xul|listcell,
xul|treecell {
	white-space:	nowrap;
	vertical-align: middle;
}

xul|listcell::command,
xul|treecell::command {
	width:	16px;
	height:	16px;
	margin:	0px;
	padding:0px;
	vertical-align: middle;
}

/* Tree-specific */
xul|treecell::toc,
xul|treecell-line {
	float: left;
	width: 18px;
	height: 18px;
}

xul|treecell::toc {
	background:	url(media/treecell_toc.gif) no-repeat 0px center;
}

xul|treecell::toc:open {
	background-position:-24px center;
}

xul|treecell-line {
	background:	url(media/treecell_line.gif) no-repeat -72px center;
}

xul|treecell-line-regular {
	background-position:0 center;
}

xul|treecell-line-next {
	background-position:-24px center;
}

xul|treecell-line-last {
	background-position:-48px center;
}