xul|page,
xul|dialog,
xul|wizard,
xul|window {
	background-color: #ECE9D8;
	position: absolute;
}

xul|dialog,
xul|wizard,
xul|window {
	width: 400px;
	height:300px;
	min-width:	150px;
	border: 2px #7F9DB9 solid;
	padding-top:	22px;
}

xul|wizard {
	height: 200px;
	min-width:	250px;
	padding-bottom: 100px;
}

xul|dialog {
	height: 160px;
	min-width:	250px;
	padding-bottom: 40px;
}

xul|dialog::head,
xul|wizard::head,
xul|window::head {
	height:	22px;
	margin-top:	-22px;
	cursor: default;
	background-color:	#336699;
}

xul|dialog::body,
xul|window::body,
xul|wizardpage {
	overflow:	auto;
	overflow-x: hidden;
}

xul|wizard::footer,
xul|dialog::footer {
	height: 39px;
	border-top:	solid 1px gray;
}

xul|dialog::footer xul|button.help {
	margin-left: 5px;
}

xul|dialog::footer xul|button.extra1,
xul|dialog::footer xul|button.extra2,
xul|dialog::footer xul|button.accept,
xul|dialog::footer xul|button.cancel,
xul|dialog::footer xul|button.help,
xul|wizard::footer xul|button.back,
xul|wizard::footer xul|button.next,
xul|wizard::footer xul|button.finish,
xul|wizard::footer xul|button.cancel {
	margin-right: 5px;
	cursor: default !important;
	width:	5em;
}

xul|dialog::title,
xul|wizard::title,
xul|window::title {
	color: white;
	font-weight: bold;
	padding-left: 2px;
	height: 1em;
}

xul|window::button-close {
	width: 13px;
	height:13px;
	margin: 2px;
	background-repeat: no-repeat;
	background-image: url(media/button_close.gif);
	background-position: 0px 0px;
	font-size: 1px;
}

xul|window::button-close:hover {
	background-position: 0px -13px;
}

xul|window::button-close:active {
	background-position: 0px -26px;
}

xul|dialogheader,
xul|wizardheader {
	height: 59px;
	border-bottom:	solid 1px #aca899;
	background-color: white;
	cursor: default !important;
}

xul|dialogheader::title,
xul|wizardheader::title {
	font-weight: bold;
}

xul|dialogheader::description,
xul|wizardheader::description {
	padding-top: 3px;
	padding-left: 20px;
}

/* */
xul|dialog:resize, xul|dialog:drag,
xul|wizard:resize, xul|wizard:drag,
xul|window:resize, xul|window:drag {
	opacity: 0.5;
}

/* hide contents while resizing/dragging */
xul|dialog:resize xul|dialog::header,
xul|dialog:resize xul|dialog::body,
xul|dialog:resize xul|dialog::footer,
xul|dialog:drag xul|dialog::header,
xul|dialog:drag xul|dialog::body,
xul|dialog:drag xul|dialog::footer,
xul|wizard:resize xul|wizard::header,
xul|wizard:resize xul|wizard::body,
xul|wizard:resize xul|wizard::footer,
xul|wizard:drag xul|wizard::header,
xul|wizard:drag xul|wizard::body,
xul|wizard:drag xul|wizard::footer,
xul|window:resize xul|window::body,
xul|window:drag xul|window::body,
xul|window:drag xul|window::footer {
	display: none;
}